/RemoteSystemsTempFiles
/.metadata
/Validation/.settings
/Validation/*.classpath
/Validation/*.project
/MobileWebApp/.project
/MobileWebApp/.classpath
/MobileWebApp/.settings
/DynaTableRf/*.classpath
/DynaTableRf/*.project
/DynaTableRf/*
